<div class='article-aside'>
              <aside>
                <h2>
                  相关命令
                </h2>
                <ul>
                  <li>
                    <a href='/rediscn/commands/hdel.html'>
                      HDEL
                    </a>
                  </li>
                  <li>
                    <a href='/rediscn/commands/hexists.html'>
                      HEXISTS
                    </a>
                  </li>
                  <li>
                    <a href='/rediscn/commands/hget.html'>
                      HGET
                    </a>
                  </li>
                  <li>
                    <a href='/rediscn/commands/hgetall.html'>
                      HGETALL
                    </a>
                  </li>
                  <li>
                    <a href='/rediscn/commands/hincrby.html'>
                      HINCRBY
                    </a>
                  </li>
                  <li>
                    <a href='/rediscn/commands/hincrbyfloat.html'>
                      HINCRBYFLOAT
                    </a>
                  </li>
                  <li>
                    <a href='/rediscn/commands/hkeys.html'>
                      HKEYS
                    </a>
                  </li>
                  <li>
                    <a href='/rediscn/commands/hlen.html'>
                      HLEN
                    </a>
                  </li>
                  <li>
                    <a href='/rediscn/commands/hmget.html'>
                      HMGET
                    </a>
                  </li>
                  <li>
                    <a href='/rediscn/commands/hmset.html'>
                      HMSET
                    </a>
                  </li>
                  <li>
                    <a href='/rediscn/commands/hscan.html'>
                      HSCAN
                    </a>
                  </li>
                  <li>
                    <a href='/rediscn/commands/hset.html'>
                      HSET
                    </a>
                  </li>
                  <li>
                    <a href='/rediscn/commands/hsetnx.html'>
                      HSETNX
                    </a>
                  </li>
                  <li>
                    <a href='/rediscn/commands/hstrlen.html'>
                      HSTRLEN
                    </a>
                  </li>
                  <li>
                    <a href='/rediscn/commands/hvals.html'>
                      HVALS
                    </a>
                  </li>
                </ul>
              </aside>
            </div>