<div class='article-aside'>
              <aside>
                <h2>
                  相关命令
                </h2>
                <ul>
                  <li>
                    <a href='/rediscn/commands/del.html'>
                      DEL
                    </a>
                  </li>
                  <li>
                    <a href='/rediscn/commands/dump.html'>
                      DUMP
                    </a>
                  </li>
                  <li>
                    <a href='/rediscn/commands/exists.html'>
                      EXISTS
                    </a>
                  </li>
                  <li>
                    <a href='/rediscn/commands/expire.html'>
                      EXPIRE
                    </a>
                  </li>
                  <li>
                    <a href='/rediscn/commands/expireat.html'>
                      EXPIREAT
                    </a>
                  </li>
                  <li>
                    <a href='/rediscn/commands/keys.html'>
                      KEYS
                    </a>
                  </li>
                  <li>
                    <a href='/rediscn/commands/migrate.html'>
                      MIGRATE
                    </a>
                  </li>
                  <li>
                    <a href='/rediscn/commands/move.html'>
                      MOVE
                    </a>
                  </li>
                  <li>
                    <a href='/rediscn/commands/object.html'>
                      OBJECT
                    </a>
                  </li>
                  <li>
                    <a href='/rediscn/commands/persist.html'>
                      PERSIST
                    </a>
                  </li>
                  <li>
                    <a href='/rediscn/commands/pexpire.html'>
                      PEXPIRE
                    </a>
                  </li>
                  <li>
                    <a href='/rediscn/commands/pexpireat.html'>
                      PEXPIREAT
                    </a>
                  </li>
                  <li>
                    <a href='/rediscn/commands/pttl.html'>
                      PTTL
                    </a>
                  </li>
                  <li>
                    <a href='/rediscn/commands/randomkey.html'>
                      RANDOMKEY
                    </a>
                  </li>
                  <li>
                    <a href='/rediscn/commands/rename.html'>
                      RENAME
                    </a>
                  </li>
                  <li>
                    <a href='/rediscn/commands/renamenx.html'>
                      RENAMENX
                    </a>
                  </li>
                  <li>
                    <a href='/rediscn/commands/restore.html'>
                      RESTORE
                    </a>
                  </li>
                  <li>
                    <a href='/rediscn/commands/scan.html'>
                      SCAN
                    </a>
                  </li>
                  <li>
                    <a href='/rediscn/commands/sort.html'>
                      SORT
                    </a>
                  </li>
				  <li>
                    <a href='/rediscn/commands/touch.html'>
                      TOUCH
                    </a>
                  </li>
                  <li>
                    <a href='/rediscn/commands/ttl.html'>
                      TTL
                    </a>
                  </li>
                  <li>
                    <a href='/rediscn/commands/type.html'>
                      TYPE
                    </a>
                  </li>
                  <li>
                    <a href='/rediscn/commands/unlink.html'>
                      UNLINK
                    </a>
                  </li>
				  <li>
                    <a href='/rediscn/commands/wait.html'>
                      WAIT
                    </a>
                  </li>
                </ul>
              </aside>
            </div>