<div class='article-aside'>
              <aside>
                <h2>
                  相关命令
                </h2>
                <ul>
                  <li>
                    <a src='./commands/del.html'>
                      DEL
                    </a>
                  </li>
                  <li>
                    <a src='./commands/dump.html'>
                      DUMP
                    </a>
                  </li>
                  <li>
                    <a src='./commands/exists.html'>
                      EXISTS
                    </a>
                  </li>
                  <li>
                    <a src='./commands/expire.html'>
                      EXPIRE
                    </a>
                  </li>
                  <li>
                    <a src='./commands/expireat.html'>
                      EXPIREAT
                    </a>
                  </li>
                  <li>
                    <a src='./commands/keys.html'>
                      KEYS
                    </a>
                  </li>
                  <li>
                    <a src='./commands/migrate.html'>
                      MIGRATE
                    </a>
                  </li>
                  <li>
                    <a src='./commands/move.html'>
                      MOVE
                    </a>
                  </li>
                  <li>
                    <a src='./commands/object.html'>
                      OBJECT
                    </a>
                  </li>
                  <li>
                    <a src='./commands/persist.html'>
                      PERSIST
                    </a>
                  </li>
                  <li>
                    <a src='./commands/pexpire.html'>
                      PEXPIRE
                    </a>
                  </li>
                  <li>
                    <a src='./commands/pexpireat.html'>
                      PEXPIREAT
                    </a>
                  </li>
                  <li>
                    <a src='./commands/pttl.html'>
                      PTTL
                    </a>
                  </li>
                  <li>
                    <a src='./commands/randomkey.html'>
                      RANDOMKEY
                    </a>
                  </li>
                  <li>
                    <a src='./commands/rename.html'>
                      RENAME
                    </a>
                  </li>
                  <li>
                    <a src='./commands/renamenx.html'>
                      RENAMENX
                    </a>
                  </li>
                  <li>
                    <a src='./commands/restore.html'>
                      RESTORE
                    </a>
                  </li>
                  <li>
                    <a src='./commands/scan.html'>
                      SCAN
                    </a>
                  </li>
                  <li>
                    <a src='./commands/sort.html'>
                      SORT
                    </a>
                  </li>
				  <li>
                    <a src='./commands/touch.html'>
                      TOUCH
                    </a>
                  </li>
                  <li>
                    <a src='./commands/ttl.html'>
                      TTL
                    </a>
                  </li>
                  <li>
                    <a src='./commands/type.html'>
                      TYPE
                    </a>
                  </li>
                  <li>
                    <a src='./commands/unlink.html'>
                      UNLINK
                    </a>
                  </li>
				  <li>
                    <a src='./commands/wait.html'>
                      WAIT
                    </a>
                  </li>
                </ul>
              </aside>
            </div>