<div class='article-aside'>
              <aside>
                <span id="related-topics" class=anchor></span><h2 ><a href="#related-topics" class=anchor-link>*</a>Related topics</h2>
                <ul>
                  <li>
                    <a src='./topics/pubsub.html'>发布/订阅</a>
                  </li>
                </ul>
                <h2>
                  相关命令
                </h2>
                <ul>
                  <li>
                    <a src='./commands/psubscribe.html'>
                      PSUBSCRIBE
                    </a>
                  </li>
                  <li>
                    <a src='./commands/publish.html'>
                      PUBLISH
                    </a>
                  </li>
                  <li>
                    <a src='./commands/pubsub.html'>
                      PUBSUB
                    </a>
                  </li>
                  <li>
                    <a src='./commands/punsubscribe.html'>
                      PUNSUBSCRIBE
                    </a>
                  </li>
                  <li>
                    <a src='./commands/subscribe.html'>
                      SUBSCRIBE
                    </a>
                  </li>
                  <li>
                    <a src='./commands/unsubscribe.html'>
                      UNSUBSCRIBE
                    </a>
                  </li>
                </ul>
              </aside>
            </div>