<div class='article-aside'>
              <aside>
                <h2>
                  相关命令
                </h2>
                <ul>
                  <li>
                    <a href='/rediscn/commands/sadd.html'>
                      SADD
                    </a>
                  </li>
                  <li>
                    <a href='/rediscn/commands/scard.html'>
                      SCARD
                    </a>
                  </li>
                  <li>
                    <a href='/rediscn/commands/sdiff.html'>
                      SDIFF
                    </a>
                  </li>
                  <li>
                    <a href='/rediscn/commands/sdiffstore.html'>
                      SDIFFSTORE
                    </a>
                  </li>
                  <li>
                    <a href='/rediscn/commands/sinter.html'>
                      SINTER
                    </a>
                  </li>
                  <li>
                    <a href='/rediscn/commands/sinterstore.html'>
                      SINTERSTORE
                    </a>
                  </li>
                  <li>
                    <a href='/rediscn/commands/sismember.html'>
                      SISMEMBER
                    </a>
                  </li>
                  <li>
                    <a href='/rediscn/commands/smembers.html'>
                      SMEMBERS
                    </a>
                  </li>
                  <li>
                    <a href='/rediscn/commands/smove.html'>
                      SMOVE
                    </a>
                  </li>
                  <li>
                    <a href='/rediscn/commands/spop.html'>
                      SPOP
                    </a>
                  </li>
                  <li>
                    <a href='/rediscn/commands/srandmember.html'>
                      SRANDMEMBER
                    </a>
                  </li>
                  <li>
                    <a href='/rediscn/commands/srem.html'>
                      SREM
                    </a>
                  </li>
                  <li>
                    <a href='/rediscn/commands/sscan.html'>
                      SSCAN
                    </a>
                  </li>
                  <li>
                    <a href='/rediscn/commands/sunion.html'>
                      SUNION
                    </a>
                  </li>
                  <li>
                    <a href='/rediscn/commands/sunionstore.html'>
                      SUNIONSTORE
                    </a>
                  </li>
                </ul>
              </aside>
            </div>