<div class='article-aside'>
              <aside>
                <h2>
                  相关命令
                </h2>
                <ul>
                  <li>
                    <a src='./commands/sadd.html'>
                      SADD
                    </a>
                  </li>
                  <li>
                    <a src='./commands/scard.html'>
                      SCARD
                    </a>
                  </li>
                  <li>
                    <a src='./commands/sdiff.html'>
                      SDIFF
                    </a>
                  </li>
                  <li>
                    <a src='./commands/sdiffstore.html'>
                      SDIFFSTORE
                    </a>
                  </li>
                  <li>
                    <a src='./commands/sinter.html'>
                      SINTER
                    </a>
                  </li>
                  <li>
                    <a src='./commands/sinterstore.html'>
                      SINTERSTORE
                    </a>
                  </li>
                  <li>
                    <a src='./commands/sismember.html'>
                      SISMEMBER
                    </a>
                  </li>
                  <li>
                    <a src='./commands/smembers.html'>
                      SMEMBERS
                    </a>
                  </li>
                  <li>
                    <a src='./commands/smove.html'>
                      SMOVE
                    </a>
                  </li>
                  <li>
                    <a src='./commands/spop.html'>
                      SPOP
                    </a>
                  </li>
                  <li>
                    <a src='./commands/srandmember.html'>
                      SRANDMEMBER
                    </a>
                  </li>
                  <li>
                    <a src='./commands/srem.html'>
                      SREM
                    </a>
                  </li>
                  <li>
                    <a src='./commands/sscan.html'>
                      SSCAN
                    </a>
                  </li>
                  <li>
                    <a src='./commands/sunion.html'>
                      SUNION
                    </a>
                  </li>
                  <li>
                    <a src='./commands/sunionstore.html'>
                      SUNIONSTORE
                    </a>
                  </li>
                </ul>
              </aside>
            </div>