<div class='article-aside'>
              <aside>
              	<span id="related-topics" class=anchor></span><h2 ><a href="#related-topics" class=anchor-link>*</a>Related topics</h2>
                <ul>
                  <li>
                    <a src='./topics/transactions.html'>事务处理</a>
                  </li>
                </ul>
                <h2>
                  相关命令
                </h2>
                <ul>
                  <li>
                    <a src='./commands/discard.html'>
                      DISCARD
                    </a>
                  </li>
                  <li>
                    <a src='./commands/exec.html'>
                      EXEC
                    </a>
                  </li>
                  <li>
                    <a src='./commands/multi.html'>
                      MULTI
                    </a>
                  </li>
                  <li>
                    <a src='./commands/unwatch.html'>
                      UNWATCH
                    </a>
                  </li>
                  <li>
                    <a src='./commands/watch.html'>
                      WATCH
                    </a>
                  </li>
                </ul>
              </aside>
            </div>